/* waterfall */

.root {
  display: flex;
  width: 816px;
  height: 66vh;
  overflow: hidden;
  margin-left: -16px;
  /* margin-right: -16px; */
}
.itemCol {
  flex-direction: column;
  /* position: relative; */
  width: 25%;
  height: 100%;
  margin-left: 16px;
}

.itemType1,
.itemType2,
.itemType3 {
  position: relative;
  background-color: #e3c0d3;
  margin-bottom: 16px;
  transition: 0.3s;
  background-size: cover;
  background-position: center;
}

.itemType1:hover .albumCover,
.itemType2:hover .albumCover,
.itemType3:hover .albumCover {
  height: 0;
}
.itemType1 {
  height: 26%;
}

.itemType2 {
  height: 30%;
}

.itemType3 {
  height: 37%;
}

.albumCover {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}

/* 2col */
.row {
  display: flex;
  width: 800px;
  height: 66vh;
  overflow: hidden;
  margin-bottom: 20px;

  /* margin-left: -16px; */
  /* margin-right: -16px; */
}
.twoCol {
  flex-direction: column;
  /* position: relative; */
  width: 50%;
  height: 100%;
  /* margin-left: 16px; */
}

/* aboutme */

.contentBox {
  padding: 8px;
}
.iconBox {
  width: 100%;
  padding: 8px;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.imgBox {
  margin: 8px 0px 0px 8px;
  width: 100%;
  height: 100%;
  position: relative;
  /* background-color: lightsteelblue; */
}
.mainImg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.scrollViewImg {
  width: 100%;
  height: 132px;
}
.scrollViewImg .scrollView {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 800px 533px;
  background-position: 50% 150%;
}
.iconBox a {
  display: inline-block;
}
.icon {
  width: 30px;
  height: 30px;
  margin: 8px;
  background-size: cover;
  background-position: center;
}

.gitIcon {
  background-image: url(../images/icon/githubicon.svg);
}
.linkedinIcon {
  background-image: url(../images/icon/linkedinicon.png);
}
.plurkIcon {
  background-image: url(../images/icon/plurkicon.png);
}

/* link button */

.linkButton {
  font-size: 11pt;
  position: absolute;
  bottom: 0;
  margin: 8px;
  color: white;
  text-decoration: none;
}
